name: Release

on:
  push:
    tags:
      - 'v*'

# Declare default permissions as read only.
permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # Required to create releases and upload artifacts
      pull-requests: read  # Required to read pull request information
    outputs:
      hashes: ${{ steps.hash.outputs.hashes }}
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@0a12ed9d6a96ab950c2f7f046d9daa58b69d4b8f # v5.5.0
        with:
          go-version-file: 'go.mod'

      - name: Run tests
        run: go test -v ./...

      - name: Build binaries
        run: |
          mkdir -p dist
          GOOS=linux GOARCH=amd64 go build -o dist/go-package-analyzer-linux-amd64 ./cmd/analyzer
          GOOS=darwin GOARCH=amd64 go build -o dist/go-package-analyzer-darwin-amd64 ./cmd/analyzer
          GOOS=windows GOARCH=amd64 go build -o dist/go-package-analyzer-windows-amd64.exe ./cmd/analyzer

      - name: Generate subject for provenance
        id: hash
        run: |
          set -euo pipefail
          cd dist
          echo "hashes=$(sha256sum * | base64 -w0)" >> "$GITHUB_OUTPUT"

      - name: Upload artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: binaries
          path: dist/
          if-no-files-found: error

  provenance:
    needs: [build]
    permissions:
      actions: read   # To read the workflow path.
      id-token: write # To sign the provenance.
      contents: write # To add assets to a release.
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_generic_slsa3.yml@v2.0.0
    with:
      base64-subjects: "${{ needs.build.outputs.hashes }}"
      upload-assets: true # upload to a new release

  release:
    needs: [build, provenance]
    runs-on: ubuntu-latest
    permissions:
      contents: write  # Required to create releases and upload artifacts
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          name: binaries
          path: dist/

      - name: Create Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          tag_name=${GITHUB_REF#refs/tags/}
          gh release create "$tag_name" \
            --repo="$GITHUB_REPOSITORY" \
            --title="Release ${tag_name}" \
            --generate-notes \
            dist/* 